<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<body>

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <span th:text="'Links: '+${links.size()}"></span>
            <a href="/link/create" class="btn btn-sm btn-outline-primary">Create link</a>
            <form action="/list" method="GET"></form>
            <div class="input-group mb-3 mt-3">
                <input type="text" class="form-control form-control-sm" name="query"/>
                <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Short link</th>
                    <th>Full link</th>
                    <th>Open count</th>
                </tr>

                <tr th:each="link: ${links}">
                    <td>
                        <a th:text="${link.shortlink}"
                           th:href="'/'+${link.shortLink}" target="_blank"></a>
                    </td>
                    <td th:text="${link.link}"></td>
                    <td><span th:text="${link.openCount}"></span>
                        <a th:href="'/link/delete?shortLink=' + ${link.shortLink}"
                           class="btn btn-sm btn-outline-danger">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
</body>
</html>